<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Flight Schedule</title>
    <link rel="stylesheet" href="/home/css/form-create-edit.css">
</head>




<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <center><h2>Create flight schedule</h2></center>
                    <form th:action="@{/flight-schedule/create}" th:method="post" th:object="${flightScheduleDto}">
                        <div class="col-md-12">
                            <p>Code Flight Schedule</p>
                            <input type="text" th:field="*{codeFlightSchedule}" class="form-control" required placeholder="Code Flight Schedule">
                            <p style="color: red" th:if="${#fields.hasErrors('codeFlightSchedule')}" th:errors="*{codeFlightSchedule}"></p>
                        </div>
                        <div class="col-md-12">
                            <p>Departure</p>
                            <input class="form-control" type="datetime-local" th:field="*{departure}" placeholder="Departure" required>
                            <p style="color: red" th:if="${#fields.hasErrors('departure')}" th:errors="*{departure}"></p>
                        </div>
                          <div class="col-md-12">
                            <p>Arrival</p>
                            <input class="form-control" type="datetime-local" th:field="*{arrival}" placeholder="Arrival" required>
                            <p style="color: red" th:if="${#fields.hasErrors('arrival')}" th:errors="*{arrival}"></p>
                        </div>
                        <center>
                            <div class="form-button mt-3" style="padding-top: 30px">
                                <button id="submit" type="submit" style="width: 130px;height: 40px;background: #3893cc;border-radius: 30px;color: whitesmoke" >Create</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>