<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Flight Schedule</title>
    <link rel="stylesheet" href="/home/css/form-create-edit.css">


</head>
<body>

<link rel="stylesheet" href="/home/css/navbar.css">
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <center><h2>Create flight schedule</h2></center>
                    <form th:action="@{/flight-schedule/edit}" th:method="post" th:object="${flightScheduleDto}" novalidate="novalidate">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:value="${flightScheduleDto  .id}" th:name="id">
                        <input type="hidden" th:value="${number}" th:name="number">
                        <div class="col-md-12">
                            <p>Code Flight Schedule</p>
                            <input type="text" th:field="*{codeFlightSchedule}" class="form-control" required placeholder="Code Flight Schedule" >
                            <span style="color: red" th:if="${#fields.hasErrors('codeFlightSchedule')}" th:errors="*{codeFlightSchedule}"></span>
                        </div>
                        <div class="col-md-12">
                            <p>Departure</p>
                            <input class="form-control" type="datetime-local" th:field="*{departure}" placeholder="Departure" required>
                            <span style="color: red" th:if="${#fields.hasErrors('departure')}" th:errors="*{departure}"></span>
                        </div>
                        <div class="col-md-12">
                            <p>Arrival</p>
                            <input class="form-control" type="datetime-local" th:field="*{arrival}" placeholder="Arrival" required>
                            <span style="color: red" th:if="${#fields.hasErrors('arrival')}" th:errors="*{arrival}"></span>
                        </div>
                        <center>
                            <div class="form-button mt-3" style="padding-top: 30px">
                                <button id="submit" type="submit" style="width: 130px;height: 40px;background: #3893cc;border-radius: 30px;color: whitesmoke" >Submit</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


