/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*}*/

/*body {*/
/*    height: 100vh;*/
/*    background-color: #000000;*/
/*    !*background-image: url();*!*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*li {*/
/*    list-style: none;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: #FFFFFF;*/
/*    font-size: 1rem;*/
/*}*/

/*a:hover {*/
/*    color: #cd0a0a;*/
/*}*/

/*header {*/
/*    position: relative;*/
/*    padding: 0 2rem;*/
/*}*/

/*.navbar {*/
/*    width: 100%;*/
/*    height: 60px;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    background: #435ada;*/
/*    opacity: 0.8;*/
/*}*/

/*.navbar .logo {*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
/*}*/

/*.navbar .links {*/
/*    display: flex;*/
/*    gap: 2rem;*/
/*}*/

/*.navbar .toggle-btn {*/
/*    color: #FFFFFF;*/
/*    font-size: 1.5rem;*/
/*    cursor: pointer;*/
/*    display: none;*/
/*}*/

/*.action-btn {*/
/*    background-color: orange;*/
/*    color: #FFFFFF;*/
/*    padding: 0.5rem 1rem;*/
/*    border: none;*/
/*    outline: none;*/
/*    border-radius: 20px;*/
/*    font-size: 0.8rem;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    !*transition: scale 0.2 ease;*!*/
/*}*/

/*.action-btn:hover {*/
/*    scale: 1.05;*/
/*    color: #FFFFFF;*/
/*}*/

/*.action-btn:active {*/
/*    scale: 0.95;*/
/*}*/

/*.dropdown-menu {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 60px;*/
/*    height: 0;*/
/*    background: rgba(255, 255, 255, 0.1);*/
/*    backdrop-filter: blur(15px);*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
/*    z-index: 10;*/
/*}*/

/*.dropdown-menu.open {*/
/*    height: 240px;*/
/*}*/

/*.dropdown-menu li {*/
/*    padding: 0.7rem;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*@media (max-width: 992px) {*/
/*    .navbar .links,*/
/*    .navbar .action-btn {*/
/*        display: none;*/
/*    }*/

/*    .navbar .toggle-btn {*/
/*        display: block;*/
/*    }*/

/*    .dropdown-menu {*/
/*        display: block;*/
/*    }*/
/*}*/
/*@media (max-width: 576px){*/
/*    .dropdown-menu{*/
/*        left: 2rem;*/
/*        width: unset;*/
/*    }*/
/*}*/



@import url("https://fonts.googleapis.com/css?family=Lato");
* {
    box-sizing: border-box;
}


html,
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}
html:before,
body:before {
    /*background: linear-gradient(35deg, #9a12b3, #c5eff7);*/
    bottom: 0;
    content: '';
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
}
svg {
    cursor: pointer;
    height: 44px;
    width: 44px;
}
svg path {
    fill: #fff;
}
ol {
    list-style-type: none;
}
a[href] {
    color: #fff;
    position: relative;
    text-decoration: none;
}
a[href]:hover:after {
    transform: scaleX(1);
}
a[href]:after {
    content: '';
    position: absolute;
    top: 100%;
    height: 4px;
    /*background: #fff;*/
    left: 0;
    right: 0;
    transition: transform 0.15s;
    transform-origin: left;
    transform: scaleX(0);
}
.menu {
    position: relative;
    width: 250px;
}
.menu__content {
    color: #fff;
    margin: 0;
    padding: 0 0 25px 0;
    position: absolute;
    right: 100%;
    top: 0;
    width: 250px;
    z-index: 2;
}
.menu__toggle-label {
    height: 44px;
    left: 0;
    position: absolute;
    width: 44px;
}
.menu__toggle-label svg {
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.15s;
    z-index: 2;
}
.menu__toggle-label svg:nth-of-type(2) {
    left: 250px;
    transform: scale(0);
}
.menu__toggle {
    opacity: 0;
    position: fixed;
}
.menu__toggle:checked ~ .menu__toggle-label {
    background: rgba(0,0,0,0.65);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: background 0.15s;
    width: 100vw;
}
.menu__toggle:checked ~ .menu__toggle-label svg:nth-of-type(1) {
    transform: scale(0);
}
.menu__toggle:checked ~ .menu__toggle-label svg:nth-of-type(2) {
    left: 250px;
    transform: scale(1);
    transition: transform 0.15s;
    transition-delay: 0.925s;
}
.menu__toggle:checked ~ .menu__content {
    transform: translate(100%, 0);
}
.menu__toggle:checked ~ .menu__content .menu-item {
    transform: translateX(0);
    transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-color 0.15s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(1) {
    border-color: #9b59b6;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(1) a[href]:after {
    background: #9b59b6;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(2) {
    border-color: #86e2d5;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(2) a[href]:after {
    background: #86e2d5;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(3) {
    border-color: #f5ab35;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(3) a[href]:after {
    background: #f5ab35;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(4) {
    border-color: #1e8bc3;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(4) a[href]:after {
    background: #1e8bc3;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(5) {
    border-color: #e26a6a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(5) a[href]:after {
    background: #e26a6a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(6) {
    border-color: #c8e26a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(6) a[href]:after {
    background: #c8e26a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(7) {
    border-color: #e26a74;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(7) a[href]:after {
    background: #e26a74;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(8) {
    border-color: #6a6ce2;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(8) a[href]:after {
    background: #6a6ce2;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(9) {
    border-color: #e2786a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(9) a[href]:after {
    background: #e2786a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(10) {
    border-color: #c86ae2;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(10) a[href]:after {
    background: #c86ae2;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(11) {
    border-color: #e2dc6a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(11) a[href]:after {
    background: #e2dc6a;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(1) {
    transition-delay: 0.225s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(2) {
    transition-delay: 0.275s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(3) {
    transition-delay: 0.325s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(4) {
    transition-delay: 0.475s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(5) {
    transition-delay: 0.525s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(6) {
    transition-delay: 0.575s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(7) {
    transition-delay: 0.625s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(8) {
    transition-delay: 0.675s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(9) {
    transition-delay: 0.725s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(10) {
    transition-delay: 0.775s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(11) {
    transition-delay: 0.825s, 0.875s;
}
.menu__content > .menu-item {
    border-left: 8px solid transparent;
}
.menu__content > .menu-item > a {
    line-height: 44px;
    min-width: 60px;
}
.sub-menu {
    padding: 0 0 0 44px;
}
.menu-item {
    line-height: 44px;
    min-height: 44px;
    padding: 0 12px;
    transform: translateX(-100%);
}
.menu-item .menu-item {
    transform: translateX(-150%);
}
