<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Flight Schedule Air Craft</title>
</head>
<body>
<form th:action="@{/flight-schedule-air-craft/edit}" th:method="post" th:object="${flightScheduleAirCraft}">
    <input type="hidden" th:field="*{id}">
    <select  th:field="*{idAirCraft}">
        <option th:text="${flightScheduleAirCraft.idAirCraft.numberAirCraft}" th:value="${flightScheduleAirCraft.idAirCraft.id}"></option>
        <option th:each="airCraft :${airCraftList}" th:text="${airCraft.numberAirCraft}" th:value="${airCraft.id}"></option>
    </select>
        <select  th:field="*{flightSchedule}">
        <option th:text="${flightScheduleAirCraft.flightSchedule.codeFlightSchedule}" th:value="${flightScheduleAirCraft.flightSchedule.id}"></option>
        <option th:each="flightScheduleLoop :${flightScheduleList}" th:text="${flightScheduleLoop.codeFlightSchedule}" th:value="${flightScheduleLoop.id}"></option>
    </select>
        <select  th:name="idRoute">
        <option th:text="${route.codeRoute}" th:value="${route.id}"></option>
        <option th:each="route :${routeList}" th:text="${route.codeRoute}" th:value="${route.id}"></option>
    </select>
    <button type="submit">Edit</button>
</form>
</body>
</html>