<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/home/css/card-ticket-booking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/home/css/search-ticket-booking.css">
</head>
<body>








<a class="login-trigger" href="#" data-target="#login" data-toggle="modal" style="position: fixed"><span class="inline-danger"><i class="fa-solid fa-magnifying-glass"></i></span></a>
<!-- banner -->

<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <button data-dismiss="modal" class="close">&times;</button>
                <h4>Search Ticket</h4>
                <form th:action="@{/search}" th:method="get">
                    <div class="col-md-12">
                        <p>Destination</p>
                        <select name="destination" class="form-select mt-3" required>
                            <option
                                    value="Sài Gòn">
                                Sài Gòn
                            </option>
                            <option
                                    value="Huế">Huế
                            </option>
                            <option
                                    value="Hà Nội">Hà Nội
                            </option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <p>Departure</p>
                        <input type="date" name="departure">
                    </div>
                    <div class="col-md-12">
                        <p>Arrival</p>
                        <input type="date" name="arrival">
                    </div>
                    <center>
                        <div class="form-button mt-3" style="padding-top: 30px">
                            <button id="submit" type="submit"
                                    style="width: 130px;height: 40px;background: #3893cc;color: whitesmoke;border-radius: 30px">
                                <span class="inline-danger"><i class="fa-solid fa-magnifying-glass"></i></span>
                            </button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="container" th:each="ticket :${listTicket}">
    <div class="product-details">
        <h1>Tian Flight</h1>
        <br>
        <br>
        <br>
        Number AirCraft: <span class="information" th:text="${ticket.idAirCraft.numberAirCraft}"></span><br>
        Air Port: <span class="information" th:text="${ticket.idAirCraft.routes.get(0).airPort}"></span><br>
        Destination: <span class="information" th:text="${ticket.idAirCraft.routes.get(0).destination}"></span><br>

<!--        Departure: <span-->
<!--            th:text="${#dates.format(dateMapDeparture.get(ticket.getFlightSchedule().id), 'dd-MM-yyyy HH:mm')}"></span>-->
<!--        <br>-->
<!--        Arrival: <span-->
<!--            th:text="${#dates.format(dateMapArrival.get(ticket.getFlightSchedule().id), 'dd-MM-yyyy HH:mm')}"></span>-->
<!--        <br>-->
        Arrival: <span class="information" th:text="${ticket.flightSchedule.arrival}"></span><br>
        Departure: <span class="information" th:text="${ticket.flightSchedule.departure}"></span><br>
        Capacity: <span class="information" th:text="${ticket.idAirCraft.capacity}"></span><br>
        <div class="control">
            <a th:href="@{/chair_flight/{id}(id=${ticket.id})}">
            <button class="btn">
                <span class="price" th:text="${#numbers.formatDecimal(ticket.idAirCraft.routes.get(0).fare, 2, 'COMMA', 0, 'POINT')}"></span>
                <span class="shopping-cart"><i class="fa fa-solid fa-ticket"></i></span>
                <span class="buy">Booking now</span>
            </button>
                </a>
        </div>
    </div>
    <div class="product-image">
        <img src="/home/images/image (2).png"/>

    </div>
</div>
</body>
</html>