<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Airline Booking Form a Responsive Widget Template :: w3layouts</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Airline Booking Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tags -->
	<!-- Stylesheet -->
	<link rel="stylesheet" href="information_ticket/css/jquery-ui.css">
	<link rel="stylesheet" href="information_ticket/css/style.css">
	<link rel="stylesheet" href="information_ticket/css/wickedpicker.css">

	<script src="information_ticket/js/jquery-2.2.3.min.js"></script>
	<script src="information_ticket/js/jquery-ui.js"></script>
	<script src="information_ticket/js/wickedpicker.js"></script>

	<!-- //Stylesheet -->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Megrim" rel="stylesheet">


	<!--//fonts-->
</head>

<body>
	<!--background-->
	<h1>Airline Booking Form </h1>
	<div class="booking-form-w3layouts">
		<!-- Form starts here -->
		<form th:action="@{payment/create}" method="post">
			<h2 class="sub-heading-agileits">Booking Details</h2>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<label>From</label>
					<input type="text" readonly th:value="${from}">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<label>To</label>
					<input type="text" readonly th:value="${to}">
				</div>
			</div>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<label>Departure Date</label>
					<input type="text" readonly th:value="${departureDate}">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<label>Arrival Date</label>
					<input type="text" readonly th:value="${arrivalDate}">
				</div>

			</div>

			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<label>Airline Code</label>
					<input type="text" readonly th:value="${airlineCode}">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<label>Quantity</label>
					<input type="text" readonly th:value="${quantity}" id="quantity" name="quantity">
				</div>
			</div>
			<div class="triple-wthree">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<label>Price</label>
					<input type="text" readonly th:value="${price}" id="price">
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<label>Total</label>
					<input type="text" readonly id="total" name="total">
				</div>
			</div>
			<h3 class="sub-heading-agileits">Personal Details</h3>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<label>Full Name</label>
<!--					<span th:text="${booking.getPassenger().name}"></span>-->
					<input type="text" name="Name" required="" th:value="${passengers.name}" readonly>
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<label>Phone Number</label>
<!--					<span th:text="${booking.getPassenger().phoneNumber}"></span>-->
					<input type="text" name="Phone no" required="" th:value="${passengers.phoneNumber}" readonly>
				</div>
			</div>
			<div class="field-agileinfo-spc form-w3-agile-text">
				<label>Email</label>
<!--				<span  th:text="${booking.getPassenger().getAccountUser().email}"></span>-->
				<input type="email" name="Email" required="" th:value="${passengers.getAccountUser().email}" readonly>
			</div>
			<input type="hidden" name="idPassenger" th:value="${passengers.id}">
			<div class="clear"></div>
				<input style="border-radius: 10px" type="submit" value="Continue">
			<div class="clear"></div>
		</form>
		<!--// Form starts here -->
	</div>
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<!-- Time Js -->
	<script type="text/javascript" src="js/wickedpicker.js"></script>
	<script type="text/javascript">
		$('.timepicker,.timepicker1').wickedpicker({
			twentyFour: false
		});
	</script>
	<!--// Time Js -->
	<!-- Calendar Js -->
	<script src="information_ticket/js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar Js -->
<script>
	let price = document.getElementById("price").value*1
	let quantity = document.getElementById("quantity").value*1
	let total = price*quantity
	document.getElementById("total").value =total;
</script>

</body>

</html>