<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Air Craft</title>
    <link rel="stylesheet" href="css/style-of-tai.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/button-of-tai.css">
</head>
<body>
<section>
    <h1>Management AirCraft</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>STT</th>
                <th>Số lượng người</th>
                <th>Mã máy bay</th>
                <th>Mã chuyến bay</th>
                <th>Sửa</th>
                <th>Xóa</th>
                <th><a href="air-craft/create">
                    <button class="button">
                        <span class="button-text" style="font-size: 25px"><i class="fa-solid fa-plane"></i></span>
                        <div class="fill-container"></div>
                    </button>
                </a></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr th:each="aircraft,loop :${aircraftList}">
                <td th:text="${loop.count}"></td>
                <td th:text="${aircraft.capacity}"></td>
                <th:block th:if="${aircraft.routes.size()!=0}">
                    <td th:text="${aircraft.routes.get(0).codeRoute}"></td>
                </th:block>
                <th:block th:if="${aircraft.routes.size()==0}">
                    <td>Chưa đăng kí chuyến bay</td>
                </th:block>
                <td th:text="${aircraft.numberAirCraft}"></td>
                <td>
                    <a th:href="@{air-craft/edit/{id}(id=${aircraft.id})}">Sửa</a>
                    <a th:attr="onclick=|deleteFlightSchedule('${aircraft.id}','${aircraft.numberAirCraft}')|" href="#"
                       data-bs-toggle="modal" data-bs-target="#exampleModal"> <span
                            style="font-size: 20px;padding-left: 20px;color: whitesmoke"><i
                            class="fa-solid fa-trash-can"></i></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<center>
        <p th:text="${aircraftList.getNumber()+1}"></p>
</center>
<center>
    <a th:if="${aircraftList.hasPrevious()}" th:href="@{air-craft(page=${aircraftList.number -1})}">
        <button style="width: 80px;height: 40px;background: #3893cc;border-radius: 30px;border: whitesmoke">
        <span style="color: whitesmoke">
            <i class="fa-solid fa-angles-left"></i>
        </span>
        </button>
    </a>
    <a th:if="${aircraftList.hasNext()}" th:href="@{air-craft(page=${aircraftList.number +1})}">
        <button style="width: 80px;height: 40px;background: #3893cc;border-radius: 30px;border: solid 1px whitesmoke">
        <span style="color: whitesmoke">
           <i class="fa-solid fa-angles-right"></i>
        </span>
        </button>
    </a>
</center>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    function deleteFlightSchedule(id,numberAirCraft){
        document.getElementById("deleteId").value=id;
        document.getElementById("numberAirCraft").innerText=numberAirCraft;

    }
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <center>
                    <span style="font-size: 120px"><i class="fa-solid fa-trash-can"></i></span>
                    <div>
                        <p style="color: red">Bạn có muốn xóa máy bay có mã </p>
                        Number AirCraft: <span id="numberAirCraft"></span><br>
                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:action="@{/air-craft/delete}">
                    <input type="hidden" id="deleteId" name="deleteId">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>


