<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Post</title>
    <link rel="stylesheet" href="home/css/style-of-tai.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"-->
    <!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
    <style>
        @keyframes slideInRight {
            from {
                opacity: 0;
                transform: translateX(calc(100%));
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        div p {
            color: black;
        }

        @keyframes fadeOut {
            to {
                opacity: 0;
            }
        }
    </style>
</head>
<body>

<div aria-atomic="true" aria-live="assertive" class="toast show" role="alert" th:if="${msg != null}"
     style="
    position: fixed;right: 10px;top: 100px; animation: slideInRight ease 1s, fadeOut linear 1s 2s forwards; // thời gian msg trượt
    transition: all linear 0.3s;">
    <div class="toast-header bg-success">
        <strong class="me-auto">Notification</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
    </div>
    <div class="toast-body">
        <p th:text="${msg}"></p>
    </div>
</div>
<div aria-atomic="true" aria-live="assertive" class="toast show" role="alert" th:if="${msgErr != null}"
     style="
    position: fixed;right: 10px;top: 100px; animation: slideInRight ease 1s, fadeOut linear 1s 2s forwards;
    transition: all linear 0.3s;">
    <div class="toast-header bg-warning">
        <strong class="me-auto">Notification</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
    </div>
    <div class="toast-body">
        <p th:text="${msgErr}"></p>
    </div>
</div>
<h1>List Post </h1>
<div class="row">
    <div class="col-12 col-md-3 col-lg-3 ">
        <a th:if="${acc.roleUser.name != 'ROLE_Customer'}" href="/post/create" class="position-fixed">
            <button class="btn btn-light">Create Post</button>
        </a>
    </div>
    <div class="col-12 col-md-8 col-lg-8">
        <div class="card d-block "
             style=" width: 40em;margin: 20px 0"
             th:each="post : ${posts}">
            <img th:src="${post.image}" class="card-img-top" alt="thanh son" height="200px">
            <div class="card-body">
                <h4 class="card-title" th:text="${post.namePost}"></h4>
                <h5 class="card-title" th:text="${post.heading}"></h5>
                <p class="card-text" th:text="${post.content}"></p>
                <a th:if="${acc.roleUser.name != 'ROLE_Customer'}" th:href="@{/post/update/{id}(id=${post.id})}"
                   class="btn btn-primary">Update</a>
                <a th:if="${acc.roleUser.name != 'ROLE_Customer'}"
                   th:attr="onclick=|deletePost('${post.id}','${post.namePost}','${post.employees.nameEmployee}')|"
                   class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"> <span
                        style="padding-left: 5px;color: whitesmoke">
                    <i class="fa-solid fa-trash-can"></i>  Delete</span></a>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    function deletePost(id, namePost, employee) {
        document.getElementById("deletePost").value = id;
        document.getElementById("namePost").innerText = namePost;
        document.getElementById("writer").innerText = employee;

    }
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <center>
                    <span style="font-size: 120px;color: black"><i class="fa-solid fa-trash-can"></i></span>
                    <div>
                        <p style="color: red">Do you want to delete this post?</p>
                        <span style="color:black;">Post title: </span> <span style="color: red"
                                                                             id="namePost"></span><br>
                        <span style="color:black;">Written by: </span> <span style="color: black"
                                                                             id="writer"></span><br>

                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <form action="/post/delete" method="post">
                    <input type="hidden" id="deletePost" name="deletePost">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>