<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Route</title>
    <link rel="stylesheet" href="/home/css/form-create-edit.css">
</head>
<body>

<div class="container-fluid">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <center><h2>Create Route</h2></center>
                        <form th:object="${routeDto}" th:action="@{/route/create}" th:method="post">
                            <div class="col-md-12">
                                <p>Destination</p>
                                <select th:field="*{destination}" class="form-select mt-3" required>
                                    <option value="" disabled selected hidden>Destination</option>
                                    <option
                                            value="Sai Gon">
                                        Sai Gon
                                    </option>
                                    <option
                                            value="Da Nang">
                                        Da Nang
                                    </option>
                                    <option
                                            value="Hue">Hue
                                    </option>
                                    <option
                                            value="Ha Noi">Ha Noi
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <p>Air Port</p>
                                <select th:field="*{airPort}" class="form-select mt-3" required>
                                    <option value="" disabled selected hidden>Destination</option>
                                    <option
                                            value="Sai Gon">
                                        Sai Gon
                                    </option>
                                    <option
                                            value="Da Nang">
                                        Da Nang
                                    </option>
                                    <option
                                            value="Hue">Hue
                                    </option>
                                    <option
                                            value="Ha Noi">Ha Noi
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <p>Fare</p>
                                <input class="form-control" type="text" th:field="*{fare}"
                                       placeholder="Fare" required>
                                <span style="color: red" th:if="${#fields.hasErrors('fare')}"
                                      th:errors="*{fare}"></span>
                            </div>
                            <center>
                                <div class="form-button mt-3" style="padding-top: 30px">
                                    <button id="submit" type="submit"
                                            style="width: 130px;height: 40px;background: #3893cc;color: whitesmoke;border-radius: 30px">
                                        Submit
                                    </button>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>

