<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${route}" th:action="@{/route/edit}" th:method="post">
    <input type="hidden" th:field="*{id}">
    Điểm đi
    <input type="text" th:field="*{airPort}">
    Điểm đến
     <input type="text" th:field="*{destination}">
    Mã lộ trình
    <input type="text" th:field="*{codeRoute}">
    Tiền
    <input type="text" th:field="*{fare}">
    <button type="submit">Sửa</button>
</form>
</body>
</html>